.content-size
{
    min-height: 87vh;
    padding-top: 100px;
}

.carousel-control-prev-icon     
{    
width: 40px;    
height: 40px;    
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='black;' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");    
}    
     
.carousel-control-next-icon     
{    
    width: 40px;    
    height: 40px;    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='black' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");    
}    
.carousel-indicators li     
{    
    background-color: black;    
}    

.carousel-caption
{
    color: black;
    top: 120px;
    width: 50%;
    left: 360px;
}

.custom-slider-image 
{
    height: 400px !important;
    /* margin-left: auto;
    margin-right: auto;  */
}

.popular-item     
{    
    display: flex;    
    justify-content: space-between;    
}    

.popular-wrapper     
{    
    margin-top: 50px;    
}    
    
.popular-wrapper a    
{    
    color: black;    

}   

.popular-img     
{    
    height: 100px;    
}   

.detail-img     
{    
    height: 400px;    
} 